{{> admin_nav }}

{{#if message }}
    <div class="row justify-content-center pt-3">
        <div class="card col-md-7">
            <div class="card-header text-center">
                <h4>View Message</h4>
                Message are sent by users and cannot be edited
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email"
                               value="{{#if message.email}}{{ message.email }}{{/if}}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name"
                               value="{{#if message.name}}{{ message.name }}{{/if}}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" name="subject"
                               value="{{#if message.subject}}{{ message.subject }}{{/if}}" disabled>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" rows="5"
                                  disabled>{{#if message.message}}{{message.message}}{{/if}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="createdAt">Date sent</label>
                        <input type="text" class="form-control" id="createdAt" name="createdAt"
                               value="{{#if message.createdAt}}{{ message.createdAt }}{{/if}}" disabled>
                    </div>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteMessage">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMessage" tabindex="-1"
         aria-labelledby="deleteMessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteMessageLabel">Delete Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this message? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a href="/admin/message/{{message.id}}/destroy" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

{{/if}}

{{> scripts }}

{{> footer }}
