{{> admin_nav }}

<div class="container-fluid pt-3">
    {{> alerts }}
</div>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-subtitle">search, filter and sort by one or more fields</p>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" method="get" action="/admin/rates">
                                <label class="sr-only" for="from">From</label>
                                <input type="text" class="form-control my-1 mr-sm-4" id="from" name="from"
                                       value="{{#if query.from}}{{ query.from }}{{/if}}"
                                       placeholder="From date">

                                <label class="sr-only" for="to">To</label>
                                <input type="text" class="form-control my-1 mr-sm-4" id="to" name="to"
                                       value="{{#if query.to}}{{ query.to }}{{/if}}"
                                       placeholder="To date">

                                <label class="sr-only" for="rate">Rate</label>
                                <input type="number" class="form-control my-1 mr-sm-4" id="rate" name="rate"
                                       value="{{#if query.rate }}{{ query.rate }}{{/if}}" min="1" step="0.01"
                                       placeholder="Rate greater than ...">

                                <label class="sr-only" for="setterId">Setter id</label>
                                <input type="number" class="form-control my-1 mr-sm-4" id="setterId" name="setterId"
                                       value="{{#if query.setterId }}{{ query.setterId }}{{/if}}" min="1"
                                       placeholder="setter id">

                                {{#if columns }}
                                    <label class="sr-only" for="sortBy">Sort by</label>
                                    <select class="form-control my-1 mr-sm-4"
                                            id="sortBy" name="sortBy">
                                        <option value="">Select column to sort by</option>
                                        {{#each columns }}
                                            <option value="{{value}}">{{name}}</option>
                                        {{/each}}
                                    </select>

                                    <label class="sr-only" for="order">Order</label>
                                    <select class="form-control my-1 mr-sm-4" id="order" name="order">
                                        <option value="">Select sort order</option>
                                        <option value="desc">DESC</option>
                                        <option value="asc">ASC</option>
                                    </select>
                                {{/if}}

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Rates</h4>
                        </div>
                        <div class="col-md-6">
                            Price per litre: {{#if currentRate }}{{currentRate.rate}}{{/if}}
                            <a href="/admin/rate/add" class="btn btn-primary float-right">Add rate</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{#if rates }}
                        <div class="container-fluid">
                            <form method="get" action="/admin/rates/actions">
                                <div class="form-group form-check-inline">
                                    <label for="action">Action:</label>
                                    <select class="form-control ml-2" id="action" name="action" required>
                                        <option value="">---------</option>
                                        <option value="deleteSelected">Delete selected</option>
                                    </select>
                                    <button type="submit" class="btn btn-primary ml-2">Go</button>
                                </div>

                                <table class="table" id="ratesTable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="selectAll">
                                        </th>
                                        <th scope="col">ID</th>
                                        <th scope="col">From</th>
                                        <th scope="col">To</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Setter</th>
                                        <th scope="col">Setter id</th>
                                        <th scope="col">Date set</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each rates}}
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="rateIds" value="{{id}}">
                                            </td>
                                            <td scope="row">
                                                <a href="/admin/rate/{{ id }}/edit">
                                                    {{id}}
                                                </a>
                                            </td>
                                            <td>{{from}}</td>
                                            <td>{{to}}</td>
                                            <td>{{rate}}</td>
                                            <td>{{setter.fullName}}</td>
                                            <td>{{setterId}}</td>
                                            <td>{{createdAt}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    {{else}}
                        <h3 class="text-center">No rates found</h3>
                    {{/if}}
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">
                            {{> pagination }}
                        </div>
                        <div class="col-md-4">
                            <form method="get" action="/admin/rates">
                                {{> limit }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> scripts }}

<script>
    $("#selectAll").click(function() {
        let checkedStatus = this.checked;
        $("#usersTable tbody tr").find("td:first :checkbox").each(function() {
            $(this).prop("checked", checkedStatus);
        });
    });

    $(`#{{paginator.currentPage}}`).addClass("active");

    const sortBy = `{{query.sortBy}}` || undefined;
    const order = `{{query.order}}`|| undefined;
    const limit = `{{query.limit}}` || undefined;
    const paginatorLimit = `{{paginator.limit}}` || undefined;
    const limitError = `{{errors.limit}}` || undefined;
    let query = "";

    if (limit) {
        $("#limit").val(limit);
        query += `&limit=${limit}`;
    } else if (paginatorLimit) {
        $("#limit").val(paginatorLimit);
    }

    if (limitError) {
        $("#limit").css({"pointer-events": "none"}).tooltip("show");
    }

    if (sortBy && order) {
        $("#sortBy").val(col);
        $("#order").val(order);
        query += `&sortBy=${col}&order=${order}`;
    }

    $("#pager li a").each(function() {
        this.href += query;
    });
</script>

{{> footer }}
