{{> admin_nav }}
<div class="row justify-content-center pt-3">
    <div class="card col-md-5">
        <div class="card-header">
            <h4 class="text-center">Create User</h4>
            {{> alerts }}
        </div>
        <div class="card-body">
            <form action="/admin/users/create" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email"
                           placeholder="Enter user email"
                           value="{{#if body.email}}{{ body.email }}{{/if}}" aria-describedby="email-error" required>
                    <span id="email-error"
                          class="form-text text-danger">{{#if errors.email }}{{errors.email}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" placeholder="Enter user first name"
                           value="{{#if body.firstname}}{{ body.firstname }}{{/if}}"
                           aria-describedby="firstname-error" required>
                    <span id="firstname-error"
                          class="form-text text-danger">{{#if errors.firstname }}{{errors.firstname}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" name="lastname" placeholder="Enter user last name"
                           value="{{#if body.lastname}}{{ body.lastname }}{{/if}}"
                           aria-describedby="lastname-error" required>
                    <span id="lastname-error"
                          class="form-text text-danger">{{#if errors.lastname }}{{errors.lastname}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" id="role" name="role" required>
                        <option>---------</option>
                        <option value="farmer">Farmer</option>
                        <option value="milk collector">Milk Collector</option>
                        <option value="admin">Admin</option>
                    </select>
                    <span class="form-text text-danger">{{#if errors.role }}{{errors.role}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password"
                           placeholder="Enter a strong password" required
                           aria-describedby="password-error">
                    <span id="password-error"
                          class="form-text text-danger">{{#if errors.password }}{{errors.password}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2"
                           placeholder="Confirm password" required
                           aria-describedby="password2-error">
                    <span id="password2-error"
                          class="form-text text-danger">{{#if errors.password2 }}{{errors.password2}}{{/if}}</span>
                </div>

                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="active" name="active"
                               {{#if body.active}}checked{{/if}} value="1">
                        <label class="form-check-label" for="active">Active</label>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{> scripts }}

<script>
    const role = `{{body.role}}` || undefined;

    if (role) { $("#role").val(role); }
</script>

{{> footer }}